<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: This is the page in which displays info. I love Japan!!!</p>
        <h2>Japan</h2>
    </body>
</html>
