<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>This is the Adventure Blog of Dallas Bille</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <h1>Adventure Time!</h1>
        <h2>Big Time!</h2>
        <h3>But Not All The Time...</h3>
        <p>This is the info page: And here is some information!</p>


    </body>
</html>
